<!DOCTYPE html>
<html lang="en">


    <head>
        <%- include('../head'); %>

    </head>

    <body class="col-12">

        <%- include('../backHeader'); %>

            <div class="" style="margin:100px 0px;">
                <h1 data-aos="flip-down" class="p-4 m-5 text-center text-primary col-12">
                    Two simple plans.
                    Fast and faster.
                </h1>
                <div data-aos="fade-up" data-aos-duration="2000" class="cos-cards">
                    <div class="cos-card col-md-3">
                        <h1 class="py-4 text-primary">5 <sup>mbps</sup></h1>
                        <p class="text-dark">Internet that can keep up with your always</p>
                        <ul>
                            <li>
                                Up to 12x faster downloads than cable internet
                            </li>
                            <li>
                                Up to 77x faster uploads than cable internet
                            </li>
                            <li>
                                Wi-Fi 6 router and Mesh Extender included
                            </li>
                            <li>
                                Free professional installation
                            </li>
                        </ul>
                        <h3 class="py-4">Only at 500 Tk</h3>
                        <a class="btn btn-primary">Get Package</a>
                    </div>
                    <div class="cos-card col-md-3">
                        <h1 class="py-4 text-primary">10 <sup>mbps</sup></h1>
                        <p class="text-dark">Internet that can keep up with your whole home and everyone in it</p>
                        <ul>
                            <li>
                                Up to 12x faster downloads than cable internet
                            </li>
                            <li>
                                Up to 77x faster uploads than cable internet
                            </li>
                            <li>
                                Wi-Fi 6 router and Mesh Extender included
                            </li>
                            <li>
                                Free professional installation
                            </li>
                        </ul>
                        <h3 class="py-4">Only at 1000 Tk</h3>
                        <a class="btn btn-primary">Get Package</a>
                    </div>
                    <div class="cos-card col-md-3">
                        <h1 class="py-4 text-primary">20 <sup>mbps</sup></h1>
                        <p class="text-dark">Speed and bandwidth for large families, the smartest smart homes, big
                            time
                            entertainment
                            fans, and serious gamers.</p>
                        <ul>
                            <li>
                                Up to 12x faster downloads than cable internet
                            </li>
                            <li>
                                Up to 77x faster uploads than cable internet
                            </li>
                            <li>
                                Wi-Fi 6 router and Mesh Extender included
                            </li>
                            <li>
                                Free professional installation
                            </li>
                        </ul>
                        <h3 class="py-4">Only at 1500 Tk</h3>
                        <a class="btn btn-primary">Get Package</a>
                    </div>
                </div>

                <div class="d-flex align-items-start bg-light mb-3" style="height: 100px;">
                    <div class="col p-4 m-5">
                        <h4>99.9% reliable connection is as good as it sounds.</h4>
                    </div>
                    <div class="col p-4 m-5 text-left">
                        <p>Fiber optic internet was designed just for delivering internet right to your home. Unlike
                            the
                            old-fashioned copper lines you get with traditional cable, our internet gives you a
                            strong,
                            steady, 99.9% reliable connection3 with (way) fewer points of failure than cable
                            internet.
                        </p>
                    </div>

                </div>

            </div>
            <!-- Footer -->
            <%- include('../footer'); %>

    </body>

</html>