<body>

    <div class="d.flax col-lg-12" style="justify-content: center; align-items: top; height: max-content;">
        <div class="col-lg-3">
            <%- include('sidenav'); %>
        </div>
        <div class="col-lg-9">
            <%- include('sidenav'); %>
        </div>
    </div>


</body>